.main-header {
    display: flex;
    height: auto;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
    background-color: #33333349;
    color: white;
    font-size: small;
}